extends ../layout/layout

block content
	link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css")
	style.
		.shortcut {color: #FFF !important; position: relative;}
		.shortcut h1 {font-size: 64px;}
		.shortcut p {color: #FFF;}

		.bg-police-dk {background-color: #4265bc;}
		.bg-light-dk {background-color: rgba(0,0,0,.2);}
		div[data-type] {width: 100%; position: absolute; bottom: 0; z-index:0;}
		div[data-type] canvas {width: 100%; opacity: .1;}
		div[data-type]+div {position: relative; z-index: 1;}

		#alertas-dashboard .shortcut {padding: 19px;}

	.container-full.no-padding-top(style="padding: 0 15px;")
		.row
			//Navigtion
			.col-md-2
				include ../layout/nav

			.col-md-10#app-container
				| cargando...

	script#dashboard-template(type='text/x-handlebars-template')
		.row
			.col-md-3
				.bg-blue-dk.shortcut
					div(data-type='police')
					div
						h1 57
						p Policia

			.col-md-3
				.bg-success-dk.shortcut
					div(data-type='medic')
					div
						h1 14
						p Emergencias

			.col-md-3
				.bg-violet-dk.shortcut
					div(data-type='violence')
					div
						h1 5
						p Violencia de género

			.col-md-3
				.bg-danger-dk.shortcut
					div(data-type='fireman')
					div
						h1 9
						p Bomberos
		br
		.row
			.col-md-12
				#chart.well(style="height: 200px; padding: 0;")
		.row
			.col-md-12
				#mapa.well

	script#alertas-dashboard-template(type='text/x-handlebars-template')
		section#alertas-dashboard
			.row
				.col-md-10
					.row
						.col-md-3
							.bg-blue-dk.shortcut
								div(data-type='police')
								div
									h2 57
									p Policia

						.col-md-3
							.bg-success-dk.shortcut
								div(data-type='medic')
								div
									h2 14
									p Emergencias

						.col-md-3
							.bg-violet-dk.shortcut
								div(data-type='violence')
								div
									h2 5
									p Violencia de género

						.col-md-3
							.bg-danger-dk.shortcut
								div(data-type='fireman')
								div
									h2 9
									p Bomberos
				.col-md-2
					.bg-light-dk.shortcut(data-action='next')
						div(data-type='next')
						div
							h2(style="line-height: 63px;") Próxima
			br
			.row
				.col-md-12.table-responsive
					table.table.table-striped
						thead
							tr
								th #
								th Tipo
								th Evento
								th Usuario
								th Ubicación
								th.text-right Estado

						tbody#alertas-list


						tbody#alertas-static
							tr
								td 3
								td: span.label.bg-police-dk POLICIA
								td 21/08 11:00
								td Verónica Rombolá
								td
								td.text-right: span.label.label-danger Pendiente
							tr
								td 2
								td: span.label.bg-police-dk POLICIA
								td 21/08 10:22
								td Pedro Luna
								td
								td.text-right: span.label.label-danger Pendiente
							tr
								td 1
								td: span.label.bg-police-dk POLICIA
								td 21/08 10:03
								td Javier Mendoza
								td
								td.text-right: span.label.label-danger Pendiente

	script#alertas-item-template(type='text/x-handlebars-template')
		| {{#each this}}
		tr(_id='{{id}}')
			td {{id}}
			td: span.label(class="{{typeCss}}") {{tipoAlerta.descripcion}}
			td {{creationDateFormatted}}
			td {{user.name}}
			td {{user.address}}
			td.text-right: span.label.label-danger {{status}}
		| {{/each}}

	.modal#despacho-form(tabindex="-1", role="dialog", aria-labelledby="modal-title")
		.modal-dialog(role="document", style="width: 90%")
			.modal-content
				form(data-toggle="validator")
					.modal-header
						button.close(type="button", data-dismiss="modal", aria-label="Close")
							span(aria-hidden="true") &times;
						h4.modal-title#modal-title Despacho de Alerta

					.modal-body

					.modal-footer
						.row
							.col-md-4
								button(data-action="close").btn.btn-lg.btn-block Cierre directo
							.col-md-8
								button(data-action="submit").btn.btn-primary.btn-lg.btn-block Despachar

	script#despacho-form-template(type='text/x-handlebars-template')
		.row
			.col-md-4
				.form-group
					.form-control(disabled='true') Fecha alerta: {{cached.creationDateFormatted}} - ID: {{cached.id}}
				.form-group
					.form-control(disabled='true') Nombre: {{cached.user.name}} ({{cached.user.age}} - {{cached.user.gender}})
				.form-group
					.form-control(disabled='true') Dirección: {{cached.user.address}}
				.form-group
					.form-control(disabled='true') Teléfonos: {{cached.user.tel}} / {{cached.user.cel}}
				.well#map-location(style='height: 300px;')
			.col-md-4
				.form-group
					.bg-info-dk.shortcut
						h1#block-timer(style="margin: 13px auto;") 03:00
				.form-group
					.form-control(disabled='true') {{cached.tipoAlerta.descripcion}}

				.form-group
					select(name="tipo", required=true, data-error="Seleccione tipo", placeholder="Tipificación").form-control
						option Seleccionar tipificación
						option Robo a Mano Armada
						option Usurpación de Hogar
						option Secuestro

					.help-block.with-errors

				.form-group
					textarea.form-control(placeholder='Descripción de Hechos...', style='height: 250px; resize:vertical;')
			.col-md-4
				.panel-group#accordion
					.panel.panel-default
						.panel-heading
							h4.panel-title
								a(data-toggle="collapse", data-parent="#accordion", href="#collapse-preguntas")
									| Preguntas
						div#collapse-preguntas.panel-collapse.collapse.in
							.panel-body
								| No hay preguntas definidas

					.panel.panel-default
						.panel-heading
							h4.panel-title
								a(data-toggle="collapse", data-parent="#accordion", href="#collapse-protocolo")
									| Protocolo
						div#collapse-protocolo.panel-collapse.collapse.in
							.panel-body
								| No hay protocolo definido

					.panel.panel-default
						.panel-heading
							h4.panel-title
								a(data-toggle="collapse", data-parent="#accordion", href="#collapse-comentarios")
									| Comentarios
						div#collapse-comentarios.panel-collapse.collapse.in
							.panel-body
								textarea(name="comentarios", style="min-height: 100px; resize: vertical;", placeholder="Comentarios...").form-control
block scripts
	script(src='http://servicios.usig.buenosaires.gob.ar/usig-js/3.1/usig.AutoCompleterFull.min.js', type='text/javascript')
	script(src='http://servicios.usig.buenosaires.gob.ar/usig-js/3.1/usig.MapaInteractivo.min.js', type='text/javascript')
	script(src='/js/lib/sparkline.js', type='text/javascript')
	script(src="/js/lib/proj4.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js", type='text/javascript')
	script(src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js")

	script(src='/js/require.js', type='text/javascript', data-main='/js/app/dashboard.main')

	script.
		(function($){
		})(jQuery);