doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		meta(property='og:type', content='website')
		meta(property='og:url', content='http://doclet.com')
		meta(property='og:title', content='Crea tu propio sitio web en tres simples pasos')
		meta(property='og:description', content='Roto pone al alcance de tu mano todas las tecnologías más recientes para que tu propio sitio web esté a un click de distancia!') 
		meta(property='og:site_name', content='doclet.com')
		
		title Roto
		link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='/css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='/css/main.css')
		link(rel='stylesheet', type='text/css', href='/css/skins/fullbright.css')
		link(rel='stylesheet', type='text/css', href='/css/flag-icon.min.css')
		link(rel='stylesheet', type='text/css', href='/css/my-custom-styles.css')
		link(rel='stylesheet', type='text/css', href='//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')

		link(rel='shortcut icon', href='//www.roto-click.com/img/booh.png')

	body.dashboard2
		.wrapper(role='main')
			//Header
			include ./layout/header

			//Navigation
			include ./layout/nav

			//Application main container
			.col-md-10.content-wrapper
				block content

		//Base scripts
		script(src='/js/lib/jquery.js', type='text/javascript')
		script(src='/js/lib/bootbox.min.js', type='text/javascript')
		script(src='/js/lib/bootstrap.js', type='text/javascript')
		script(src='/js/lib/underscore.js', type='text/javascript')
		script(src='/js/lib/validator.js', type='text/javascript')
		script(src='/js/lib/backbone.js', type='text/javascript')
		script(src='/js/lib/handlebars.js', type='text/javascript')
		script(src='/js/lib/moment.js', type='text/javascript')
		script(src='/js/lib/q.js', type='text/javascript')

		//Plugins
		script(src='/js/plugins/jquery-gritter/jquery.gritter.min.js', type='text/javascript')

		script.
			var Roto = {
				Context: {
					User:!{JSON.stringify({email: user.email, name: user.name, role: user.role})}
				},
				Event: $({})
			};

		block scripts