extends ./layout-landing

block navheader
	nav.navbar.navbar-default(role="navigation")
		.container
			.row
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target="#main-nav")
						span.sr-only Cambiar navegación
						span.icon-bar 
						span.icon-bar 
						span.icon-bar 
					a.navbar-brand(href="#", title="Gobierno Electrónico") Gobierno Electrónico
				.collapse.navbar-collapse#main-nav
					ul.nav.navbar-nav.navbar-right
						li: a(href="base.html") Inicio
						li.active: a(href="base_landing.html") Landing

block hero
	div.container
		h1 Sistema de Monitoreo de Alertas
		p Tiene la capacidad de monitorear las 24 horas las cámaras instaladas en 14 parques y plazas porteñas.
		p: a.btn.btn-primary.btn-xl(role="button", data-action="login") Ingresar

block content

	section.big-heading
		.container
			.col-md-8.col-md-offset-2.text-center
				h1 ¿Querés aprender a programar?
				p Podés sumarte a nuestro Club de Programación, o empezar a hacer alguno de los cursos online gratuitos de Codecademy.

	section
		.container
			.row.row-shortcut
				a.col-md-3.col-sm-6.shortcut(href="#")
					span.bg-blue-lt
						span.glyphicon.glyphicon-list-alt
					h3 Más beneficios
					p Planificando la Ciudad.

				a.col-md-3.col-sm-6.shortcut(href="#")
					span.bg-blue-lt
						span.glyphicon.glyphicon-list-alt
					h3 Más beneficios
					p Planificando la Ciudad.

				a.col-md-3.col-sm-6.shortcut(href="#")
					span.bg-blue-lt
						span.glyphicon.glyphicon-list-alt
					h3 Más beneficios
					p Planificando la Ciudad.

				a.col-md-3.col-sm-6.shortcut(href="#")
					span.bg-blue-lt
						span.glyphicon.glyphicon-list-alt
					h3 Más beneficios
					p Planificando la Ciudad.


		.modal.fade#login-form(tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
			.modal-dialog.modal-sm(role="document")
				.modal-content
					form(data-toggle="validator")
						.modal-header
							button.close(type="button", data-dismiss="modal", aria-label="Close")
								span(aria-hidden="true") &times;
							h4.modal-title#myModalLabel Ingresar

						.modal-body
							.form-horizontal
								.form-group
									.col-sm-12
										input(type="text", name="user", required=true, data-error="Ingresa tu mail", placeholder="Correo electrónico").form-control
										.help-block.with-errors.text-danger
								.form-group
									.col-sm-12
										input(type="password", name="password", required=true, data-error="Ingresa una contraseña", placeholder="Contraseña").form-control
										.help-block.with-errors
						.modal-footer
							button(data-action="submit").btn.btn-primary Ingresar

block scripts
	//http://servicios.usig.buenosaires.gob.ar/usig-js/3.1/demos/
	script(src='/js/require.js', type='text/javascript', data-main='/js/app/auth.main')

	script.
		(function($){

		})(jQuery);

