extends ./layout-landing

block navheader
	nav.navbar.navbar-default(role="navigation")
		.container
			.row
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target="#main-nav")
						span.sr-only Cambiar navegación
						span.icon-bar 
						span.icon-bar 
						span.icon-bar 
					//a.navbar-brand(href="#", title="Gobierno Electrónico") Gobierno Electrónico
				.collapse.navbar-collapse#main-nav
					ul.nav.navbar-nav.navbar-right
						li: a(href="base.html") Inicio
						li.active: a(href="base_landing.html") Landing

block hero
	div.container
		h1 Sistema de Monitoreo de Alertas
		p Controla durante las 24 horas las alertas emitidas por la aplicación de Botón de Alertas 
		//del Gobierno de la Ciudad de Buenos Aires.
		p: a.btn.btn-primary.btn-xl(role="button", data-action="login") Ingresar

block content

	section.big-heading
		.container
			.col-md-8.col-md-offset-2.text-center
				h1 ¿Cómo funciona?
				p En el centro de monitoreo, trabajan 120 operadores que monitorean las imágenes en tres turnos, bajo la responsabilidad de un coordinador operativo y un coordinador general.

				p Los operadores realizan la visualización de las imágenes captadas por las cámaras ubicadas en puntos estratégicos de la Ciudad de Buenos Aires. En cada uno de los monitores se pueden visualizar hasta 12 cámaras. Para poder ver las imágenes en tiempo real se utiliza una red de fibra óptica de última generación que se extiende por distintas zonas de la Ciudad.

	section
		.container
			.row.row-shortcut
				a.col-md-3.col-sm-6.shortcut(href="#")
					span.bg-blue-lt
						span.glyphicon.glyphicon-list-alt
					h3 Ultima tecnología
					p Wall central de 3.30 m de ancho por 1,80 m de alto; 4 plasmas de 50 pulgadas y 40 monitores LCD de 20 pulgadas cada uno 

				a.col-md-3.col-sm-6.shortcut(href="#")
					span.bg-blue-lt
						span.glyphicon.glyphicon-list-alt
					h3 Cuida la privacidad
					p Cuenta con un protocolo de actuación mediante el cual se prohíbe la difusión de cualquier imagen captada por las cámaras

				a.col-md-3.col-sm-6.shortcut(href="#")
					span.bg-blue-lt
						span.glyphicon.glyphicon-list-alt
					h3 Proteje el transporte
					p Monitorea las cámaras de Metrovías instaladas en las estaciones de subterráneos y las autopistas que dependen de AUSA

				a.col-md-3.col-sm-6.shortcut(href="#")
					span.bg-blue-lt
						span.glyphicon.glyphicon-list-alt
					h3 Mejor infraestrucutra
					p  Las imágenes se transmiten por la red de fibra óptica de última generación que se extiende por toda de la Ciudad


		.modal.fade#login-form(tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
			.modal-dialog.modal-sm(role="document")
				.modal-content
					form(data-toggle="validator")
						.modal-header
							button.close(type="button", data-dismiss="modal", aria-label="Close")
								span(aria-hidden="true") &times;
							h4.modal-title#myModalLabel Ingresar

						.modal-body
							.form-horizontal
								.form-group
									.col-sm-12
										input(type="text", name="user", required=true, data-error="Ingresa tu mail", placeholder="Correo electrónico").form-control
										.help-block.with-errors.text-danger
								.form-group
									.col-sm-12
										input(type="password", name="password", required=true, data-error="Ingresa una contraseña", placeholder="Contraseña").form-control
										.help-block.with-errors
						.modal-footer
							button(data-action="submit").btn.btn-primary Ingresar

block scripts
	//http://servicios.usig.buenosaires.gob.ar/usig-js/3.1/demos/
	script(src='/js/require.js', type='text/javascript', data-main='/js/app/auth.main')

	script.
		(function($){

		})(jQuery);

