extends ../landing/layout-landing

block content
	section(style='margin-top: 100px;')
		.container
			.row 
				.center-block.form-condensed
				h2 ¿Olvidaste tu contraseña?
				
				p.padded-vr
					| Ingresa una nueva contraseña para tu cuenta: 
					b #{user.email}
			
				.form-group.first-inpage
					input(type='password',placeholder='Nueva contraseña...', required=true, requiredError='Debes indicar una nueva contraseña', name='password', tabindex='1').form-control.input-lg

				.form-group
					//label.ui-caption.gray-font Repite la contraseña
					input(type='password',placeholder='Repite la contraseña...', required=true, requiredError='Debe ser igual a la nueva contraseña', name='again', tabindex='2').form-control.input-lg
					
				div
					button.ui-action-button.full-w.btn.btn-lg.bg-info.dk Establecer contraseña

			.hidden
				.ui-title.ui-text-center Te redirigiremos a la p&aacute;gina de inicio...

	script(src='/js/lib/jquery.js', type='text/javascript')
	script(src='/js/lib/underscore.js', type='text/javascript')
	script(src='/js/doclet.js', type='text/javascript')
	script(src='/js/doclet.ui.js', type='text/javascript')
	
	script.
		$(function() {Roto.Loader.load('doclet.forgot.main');});