extends ../landing/layout-landing

block content
	section(style='margin-top: 100px;')
		.container
			.row 
				#change-form.center-block.form-xs
					.text-center.text-white
						a.logo-link(href='/')
							img(src='//www.roto-click.com/img/booh.png', style='height: 60px;')
						
						.form.hidden
							.m-t-lg
								h4
									| ¿Olvidaste tu contraseña?
							.center-block.m-t-lg
								.form-group
									input(type="text", name="email", required=true, placeholder="Correo electrónico").form-control.input-lg
								.form-group.bg-danger.error.hidden(requiredError='Debes completar todos los datos', alreadyRegisteredError='Esta dirección de correo electrónico ya se encuentra registrada')

								.form-group
									button(data-action="submit").btn.btn-info.btn-lg.f-w Reestablecer contraseña

					
						.hidden_.m-t-lg.done.bg-dark
							p Una solicitud de cambio de contraseña fue enviada a la direcci&oacute;n:
								br
								b: span.email ...

							p.ui-text.first-inpage Revisa tu casilla de correo, encontrar&aacute;s una mail con los pasos a seguir.
							p.ui-text.margin-vr: a(href='/').action-link.color-font Continuar

	
	script.
		$(function() {Roto.Context = Roto.Context || {};Roto.Context.View = 'forgot';Roto.Loader.load('doclet.forgot.main');});

