extends ../layout-single

block content
	h1 Código de verificación incorrecto
	.ui-title.first-inpage El código especificado en la dirección no es válido o ya ha vencido.
	
	.first-inpage Puedes probar con las siguientes acciones:
	
	ul.ui-item-list.clear-fix
		li.margin-vr: a(href='/home').color-font.ui-action-link Ir a la página de inicio
		li.margin-vr: a(href='/settings').color-font.ui-action-link Cambiar información de cuenta
		li.margin-vr: a(href='/forgot').color-font.ui-action-link Olvid&eacute; mi contraseña
