doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		meta(property='og:type', content='website')
		meta(property='og:url', content='http://MonitorAlertas.com')
		meta(property='og:title', content='')
		meta(property='og:description', content='') 
		meta(property='og:site_name', content='MonitorAlertas.com')
		
		title Monitor de Alertas Ciudad de Buenos Aires
		link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
		link(rel="stylesheet", type='text/css', href="/css/bastrap3/bastrap.css")
		link(rel="shortcut icon", href="/css/bastrap3/favicon.ico")
		link(rel="apple-touch-icon-precomposed", href="/css/bastrap3/favicon-mobile.png")
	body

		header.navbar.navbar-primary.navbar-top
			.container
				.row
					.col-md-6.col-sm-6
						a.navbar-brand.bac-header(href="/") Buenos Aires Ciudad
					.col-md-6.col-sm-6
						h5.sub-brand En todo est치s vos
			
		.jumbotron.jumbotron-misc.jumbotron-main(style="background-image: url(http://gcba.github.io/BAstrap/docs/misc.jpg);")
			block navheader

			block hero

		main.main-container(role='main')
			block content

		footer.footer
			.container
				.row
					.col-md-6.col-sm-6
						a.navbar-brand.bac-footer(href="http://www.buenosaires.gob.ar", target="_blank") Buenos Aires Ciudad
					.col-md-6.col-sm-6
						.sub-brand
							p Direcci칩n General de Gobierno Electr칩nico
							br
							span.text-muted Ministerio de Modernizaci칩n

	//Base scripts
	script(src='/js/lib/jquery.js', type='text/javascript')
	script(src='/js/lib/bootstrap.js', type='text/javascript')
	script(src='/js/lib/underscore.js', type='text/javascript')
	script(src='/js/lib/validator.js', type='text/javascript')
	script(src='/js/lib/backbone.js', type='text/javascript')
	script(src='/js/lib/handlebars.js', type='text/javascript')
	script(src='/js/lib/moment.js', type='text/javascript')
	script(src='/js/lib/q.js', type='text/javascript')
	script.
		var Config = {
			api: "#{config.api}"
		};
		
	block scripts