aside
	.row 
		.col-md-12
			.list-group.list-group-panel 
				.list-group-item.list-heading.list-heading-img(style="background-image:url(http://gcba.github.io/BAstrap/docs/carousel1.jpg);")
					h3 Comuna 6

			ul.nav.nav-stacked.nav-pills
				li.active
					a(href="#")
						span.glyphicon.glyphicon-stats
						| &nbsp; Inicio
				li
					a(href="#alertas")
						span.glyphicon.glyphicon-map-marker  
						| &nbsp; Alertas en Espera
				li
					a(href="#despachos")
						span.glyphicon.glyphicon-book 
						| &nbsp; Alertas Despachadas
				li
					a(href="#perfil")
						span.glyphicon.glyphicon-user 
						| &nbsp; Mi perfil
				li
					a(href="/")
						span.glyphicon.glyphicon-remove 
						| &nbsp; Cerrar sesión
